#contacts {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 100px;
	padding-bottom: 100px;

	@media (max-width: 425px) {
		gap: 60px;
	}

	.title {
		font-size: 25px;
		font-weight: 700;

		@media (max-width: 320px) {
			text-align: center;
		}
	}
	.body {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 50px;

		@media (max-width: 768px) {
			flex-direction: column;
		}

		.info {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			max-width: 630px;
			gap: 30px;

			.text {
				line-height: 21px;
				font-size: 17px;
				color: rgb(51, 51, 51);
			}
			.networks {
				display: flex;
				align-items: center;
				gap: 20px;

				.network {
					padding: 3px;
					border-radius: 7px;
					background-color: #c9f4fd;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}

		#form {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			max-width: 350px;
			width: 100%;
			gap: 30px;
			.input {
				width: 100%;
				padding: 10px 10px 10px 0px;
				border-bottom: 1px solid #000000;
				font-size: 17px;
			}

			.button {
				padding: 17px 45px;
				background-color: #000000;
				border-radius: 20px;
				color: #fff;
				font-size: 16px;
			}
		}
	}
}
