#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  gap: 20px;
  z-index: 2;

  .title {
    font-size: 25px;
    font-weight: 500;
    color: rgb(255, 255, 255);
  }

  .navigation {
    position: relative;

    &__sections {
      display: flex;
      align-items: center;
      gap: 40px;

      .link {
        font-size: 18px;
        color: rgba(255, 255, 255, 0.7);
        letter-spacing: 0.2px;

        &:hover {
          border-bottom: 2px solid rgb(255, 255, 255);
          color: rgb(255, 255, 255);
        }
      }
    }
  }

  .networks {
    display: flex;
    align-items: center;
    gap: 20px;

    .network {
      padding: 3px;
      border-radius: 7px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
