#portfolio {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    z-index: 1;
    padding: 60px 0px;
    width: 100%;

    .title {
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      color: #ffff;
      letter-spacing: 0.5px;
    }

    .swiper {
      position: relative;
      max-width: 100%;
      padding: 0 40px;

      @media (max-width: 425px) {
        padding: 0;
      }

      .swiper-wrapper {
        position: relative;
        .swiper-slide {
          position: relative;
          display: flex;
          flex-direction: column;
          gap: 60px;

          @media (max-width: 768px) {
            gap: 40px;
          }

          .image {
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
            transition: opacity 0.8s ease-in-out;
            opacity: 0.8;
          }

          .description {
            color: #ffffffbb;
            font-size: 17px;
            line-height: 25px;
            opacity: 0;
            transition: opacity 0.8s ease-in-out;

            span {
              font-size: 21px;
              font-weight: 700;
              color: #ffffff;
            }
          }

          .link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
          }
        }

        .swiper-slide-active {
          .description {
            opacity: 1;
          }

          .image {
            opacity: 1;
          }
        }
      }

      .swiper-button-prev,
      .swiper-button-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        background-color: transparent;

        &:disabled {
          opacity: 0.8;
        }

        @media (max-width: 425px) {
          display: none;
        }
      }
      .swiper-button-prev {
        left: 0;
      }

      .swiper-button-next {
        right: 0;
      }
    }
  }
}
