#sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: auto;
  background-color: #2a2a2aed;
  transition: left 0.3s ease-in-out;
  z-index: 4;

  @media (min-width: 660px) {
    display: none;
  }

  &.active {
    left: 0px;
  }

  .navigation {
    padding: 20px;

    &__sections {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;
      .section {
        font-size: 17px;
        .link {
          color: rgba(255, 255, 255, 0.7);
          transition: color 0.3s;

          &:hover {
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }
}
